@use "../../styles/mixins-variables";

/*======================== 
table of contents
==========================
1-section-project
2-buttons filter
3-responsive 767px
=========================*/

/*======================== 
3-section-project
=========================*/
.section-projects {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  .filter {
    margin-bottom: 3rem ;
    gap: 2rem;
    justify-content: center;
    /*======================== 
2-buttons filter
=========================*/
    button {
      border: 2px mixins-variables.$primary--header--color solid;
      background-color: mixins-variables.$primary--header--color;
      padding: 0.5rem 1rem;
      border-radius: 15px;
      font-size: 0.8rem;
      font-weight: 800;
      text-align: center;
      color: mixins-variables.$primary--title--color;
      &:hover {
        border: 2px mixins-variables.$primary--btn--filter--color solid;
        background-color: lighten(mixins-variables.$primary--header--color, 3%);
      }
    }
    .active {
      background-color: lighten(mixins-variables.$primary--header--color, 7%);
      border: 2px lighten(mixins-variables.$primary--btn--filter--color, 5%)
        solid;
    }
  }
  .projects {
    width: 100%;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
}

/*======================== 
3-responsive 767px
=========================*/
@media screen and (max-width: 767px) {
  .section-projects {
    flex-direction: column;
    .filter {
      gap: 0.6rem;
      button {
        padding: 0.3rem 0 ;
        font-size: 0.6rem;
        font-weight: 700;
        color: mixins-variables.$primary--title--color;
      }
    }
  }
}
