// Variables :

//----colors----//
$primary--body--color: #1d1c1c;
$secondary--body--color:#303030;
$border--body--color:#414141;
$primary--title--color:rgba(255, 255, 255, 0.726);
$secondary--title--color:rgb(21, 21, 22);
$primary--header--color:rgb(62, 58, 58);
$secondary--header--color:rgb(231, 231, 241);
$primary--nav--color:rgb(27, 27, 27);
$secondary--nav--color:rgb(248, 245, 245);
$primary--hover--color:rgba(216, 191, 28, 0.8);
$primary--border--nav--color:rgb(235, 211, 72);
$blue: rgb(14, 155, 249);
$primary--link--social--color: rgba(255, 255, 255, 0.403);
$hover--link--social--color:rgba(255, 255, 255, 0.842);

//-----font ----//
$font--body:'Noto Serif','Courier New', Courier, monospace, sans-serif;

//mixins
