// Variables :
//----colors----//
$primary--body--color: #1d1c1c;
$secondary--body--color:#303030;
$border--body--color:#414141;
$primary--title--color:white;
$secondary--title--color:rgb(160,160,170);
$primary--header--color:rgb(62, 58, 58);
$secondary--header--color:rgb(231, 231, 241);
$primary--hover--color:rgb(78, 177, 248);

//-----font ----//
$font--body:'Noto Serif','Courier New', Courier, monospace, sans-serif;