@use "../../styles/mixins-variables";

/*======================== 
table of contents
==========================
1-home section
2-
3-responsive
=========================*/

/*======================== 
1- section
=========================*/
.home {
  height: 90vh;
  margin: 0.5rem 1rem;
  /*======================== 
1-home section
=========================*/
  .section-home {
    color: mixins-variables.$primary--title--color;
    text-align: center;
    width: 100%;

    h1,
    h2 {
      font-size: 3rem;
      margin-bottom: 1.3rem;
      color: mixins-variables.$primary--title--color;
      animation: mymovetitle 1.4s 1;
      span {
        font-weight: 900;
        font-size: 4rem;
        color: mixins-variables.$primary--hover--color;
      }
    }

    .link-social {
      gap: 1.5rem;
      margin: 4rem 2rem 2rem 0;
     justify-content: center;
      i {
        color: mixins-variables.$primary--link--social--color;
        font-size: 150%;
        &:hover {
          cursor: pointer;
          color: mixins-variables.$hover--link--social--color;
          transition: 0.3s;
          scale: 1.2;
        }
      }
    }
    .btn-cv {
      padding: 0.3rem 0 ;
      border:2px  darken(
        mixins-variables.$primary--btn--filter--color,
        2%
      ) solid;
      border-radius: 20px;
      box-shadow: 1px 1px 5px mixins-variables.$primary--link--social--color;
      margin-top: 3rem;
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        scale: 1.1;
        box-shadow: 1px 1px 15px mixins-variables.$primary--link--social--color;
      }
      a {
        font-size: 0.6rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        color: white;
      }
    }
  }

  /*======================== 
2-scroll button
=========================*/
  .btn-scroll-top {
    position: fixed;
    right: 4%;
    bottom: 5%;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0.4rem;
    border-radius: 25%;
    background-color: rgb(46, 11, 174);
    z-index: 999;
    transition: 1s;
    &:hover {
      background-color: rgb(55, 22, 174);
    }
    i {
      color: white;
    }
  }
}
/*======================== 
3-responsive
=========================*/
@media screen and (max-width: 777px) {
  .home {
    margin: 0;
    .section-home {
      .image-profil {
        img {
          width: 100px;
          height: 100px;
        }
      }
      h1,
      h2 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
        span{
          font-size: 3rem;
        }
      }
    }
    .btn-scroll-top {
      opacity: 0.6;
      font-size: 1.2rem;
      padding: 0.3rem;
    }
  }
}

@keyframes mymovetitle {
  0% {
    scale: 0.2;
    opacity: 0.1;
  }
  
  100% {
    scale: 1;
    opacity: 1;
  }
}
