@use "../../styles/mixins-variables";
@use "../../styles/functions";

/*======================== 
table of contents
==========================
1-left section
2-right section
3-responsive
=========================*/

/*======================== 
1- section
=========================*/
section {
  height: 90vh;
  /*======================== 
1-left section
=========================*/
  .section-left {
    flex-grow: 1;
    padding-left: 2rem;
    color: rgba(255, 255, 255, 0.799);
    flex-direction: column;
    .image-profil {
      align-items: end;
      padding: 2rem 0;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid rgb(194, 188, 205);
      }
      .icone-verified {
        font-size: 80%;
        border-radius: 50%;
        padding: 0.2rem;
        background-color: mixins-variables.$blue;
        margin-bottom: 0.3rem;
      }
    }

    p {
      font-size: 3rem;
      margin-bottom: 1.3rem;
      color: mixins-variables.$primary--title--color;
      span {
        font-weight: 900;
        color: rgba(238, 234, 5, 0.691);
      }
    }

    .link-social {
      gap: 1.5rem;
      margin: 2rem 2rem 2rem 0;
      i {
        color: mixins-variables.$primary--link--social--color;
        font-size: 150%;
        &:hover {
          cursor: pointer;
          color: mixins-variables.$hover--link--social--color;
          transition: 0.3s;
          scale: 1.2;
        }
      }
    }
    .btn-cv {
      background-color: rgba(55, 79, 239, 0.845);
      border-radius: 20px;
      align-items: center;
      margin-top: 3rem;
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        scale: 1.1;
        box-shadow: 1px 1px 30px rgb(100, 113, 228);
      }
      a {
        font-size: 0.6rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        color: white;
      }
    }
  }
  /*======================== 
2-right section
=========================*/
}

/*======================== 
3-responsive
=========================*/
@media screen and (max-width: 777px) {
  section {
    .section-left {
      .image-profil {
        img {
          width: 100px;
          height: 100px;
        }
      }
      p {
        font-size: 2rem;
        margin-bottom: 1.3rem;
        span {
          font-weight: 500;
        }
      }
    }
  }
}
