@use "../../styles/mixins-variables";

.section-profil {
  
  text-align: center;

  .container-profil{
    gap:3rem;
    margin:0 4rem;
    .img-profil{
      width:250px;
      height:300px;
      border-radius:2%;
      padding:1px;
      border:1px solid mixins-variables.$primary--title--color;
      &:hover{
        transition: 0.2s;
       
      }
    }

    .text-profil{
      text-align:justify;
      line-height:2;
      color: darken( mixins-variables.$primary--title--color,20%);
    }
  }
}

/*======================== 
3-responsive
=========================*/
@media screen and (max-width: 1120px) {
    .section-profil {
      
        .container-profil {
            flex-direction: column;
          gap: 2rem;
          margin: 0 2rem;
          .img-profil {
            margin-top: 4rem;
            width: 280px;
            height: 300px;
          }
      
          .text-profil {
            line-height: 1.5;
          }
        }
      }
}

@media screen and (max-width: 767px) {
  .section-profil {
      .container-profil {
        margin: 0 1rem;
        .img-profil {
          margin-top: 3rem;
          width: 220px;
          height: 250px;
        }
      }
    }
}
