@use "../../styles/mixins-variables";
@use "../../styles/functions";

.section-profil {
  color: mixins-variables.$primary--title--color;
  text-align: center;

  .title-profil {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 5rem;
  }
  .container-profil {
    gap: 3rem;
    margin: 0 4rem;
    .img-profil {
      width: 250px;
      height: 300px;
      border-radius: 2%;
      padding: 1px;
      border: 1px solid mixins-variables.$primary--title--color;
    }

    .text-profil {
      text-align: justify;
      line-height: 2;
    }
  }
}

/*======================== 
3-responsive
=========================*/
@media screen and (max-width: 1120px) {
    .section-profil {
      
        .container-profil {
            flex-direction: column;
          gap: 2rem;
          margin: 0 2rem;
          .img-profil {
            width: 280px;
            height: 300px;
          }
      
          .text-profil {
            line-height: 1.5;
          }
        }
      }
}
