@use "./styles/mixins-variables" ;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family:mixins-variables.$font--body;
  background-color: mixins-variables.$primary--body--color;
  color:white ;
  max-width: 1990px;
  min-width: 320px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  transition: 0.3s;
}

button{
  all:unset;
  &:hover{
    cursor: pointer;
  }
  &:active{
    scale: 0.9;
  }
}

.flex{
  display: flex;
  align-items: center;
}

.container{
  margin: 0 auto;
  padding: 0 1.8rem;
  background-color: mixins-variables.$secondary--body--color;
  border:  1px solid mixins-variables.$border--body--color;
}

.style{
  padding: 1rem;
}


@media screen and (max-width: 767px) {
  .container{
    width: 96%;
    padding: 0 0.5rem;
  }
 
}