@use "./styles/mixins-variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1990px;
  min-width: 320px;
  font-family: mixins-variables.$font--body;
  background-color: mixins-variables.$primary--body--color;
  color: white;
  scroll-behavior: smooth;
  }

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

button {
  all: unset;
  &:hover {
    cursor: pointer;
  }
  &:active {
    scale: 0.9;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin: 5rem 0;
  text-align: center;
  color: mixins-variables.$primary--title--color;
  display: inline;
  border-bottom: 2px solid mixins-variables.$primary--btn--filter--color;
}

.container {
  margin: 0 auto;
  padding: 0 1.8rem;
  background-color: mixins-variables.$secondary--body--color;
  border: 1px solid mixins-variables.$border--body--color;
}

.style {
  padding: 1rem;
}
/*======================== 
Scrollbar
=========================*/
::-webkit-scrollbar {
  width: 0.8rem;
 }
 
::-webkit-scrollbar-track {
  border: 1px solid mixins-variables.$primary--header--color;
  border-radius: 3px;
  background-color: #434345;
  }
 
::-webkit-scrollbar-thumb {
  background-color: mixins-variables.$primary--btn--filter--color;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background-color: mixins-variables.$primary--hover--color;
}
 

@media screen and (max-width: 767px) {
  .container {
    width: 96%;
    padding: 0 0.5rem;
  }
  .title{
    font-size: 2.2rem;
  }
}
 