@use "../../styles/mixins-variables";

/*======================== 
table of contents
==========================
1-header
2-nav desktop
3-responsive 767px
4-nav mobil
5-animation
=========================*/

/*======================== 
1-header
=========================*/
header {
  justify-content: space-between;
  background-color: mixins-variables.$primary--header--color;
  border-radius: 22px;
  padding: 1rem;
  .btn-menu,
  .nav-mobil {
    display: none;
  }
  .logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  /*======================== 
  2-nav desktop
  =========================*/
  .nav-desktop {
    ul {
      li {
        &:hover {
          transition: 0.3s;
          scale: 1.25;
        }
      }
    }
  }

  ul {
    gap: 2rem;
    li {
      a {
        color: mixins-variables.$primary--title--color;
        font-size: 0.85rem;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          opacity: 1;
          color: mixins-variables.$primary--hover--color;
        }
      }
    }
  }
  
}
/*======================== 
3-responsive 767px
=========================*/
@media screen and (max-width: 767px) {
  header {
    padding: 0.5rem 1rem;
    .link-logo,
    .nav-desktop {
      display: none;
    }
    .btn-menu {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
    /*======================== 
    4-nav mobil
    =========================*/
    .nav-mobil {
      display: block;
      position: fixed;
      inset: 0;
      z-index: 3;
      background-color: rgba(66, 59, 59, 0.843);
      .modal-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-top: 1rem;
        padding: 2rem;
        background-color: mixins-variables.$primary--nav--color;
        animation: slidein 0.7s 1;
        li:first-child {
          text-align: right;
          i {
            &:hover {
              transition: 0.3s;
              rotate: 180deg;
            }
          }
        }
        li:not(:first-child) {
          text-align: center;
          a {
            font-size: 1.5rem;
          }
          &:hover {
            transition: 0.3s;
            scale: 1.05;
          }
        }
      }
    }
  }
  /*======================== 
  5-animation
  =========================*/
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
