@use "../../styles/mixins-variables";
@use "../../styles/functions";

header {
  justify-content: space-between;
  margin: 0 2rem;
  .logo {
    width: 40px;
  }
  .btn-menu,
  .nav-mobil {
    display: none;
  }
  .btn-menu{
    font-size: 160%;
    color:  mixins-variables.$primary--title--color;
  }
  .nav-desktop {
    padding: 1rem 2rem;
    ul {
      li {
        &:hover {
          transition: 0.3s;
          scale: 1.25;
        }
      }
    }
  }

  ul {
    gap: 2rem;
    li {
      a {
        color: mixins-variables.$primary--title--color;
        opacity: 0.8;
        font-size: 0.85rem;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          opacity: 1;
          color: mixins-variables.$primary--hover--color;
        }
      }
    }
  }
    .icone-moon,
    .icone-sun {
      border-radius: 50px;
      padding: 6px;
      border: 1px solid rgb(99, 98, 98);
      color: #91908a;
      height: 1.8rem;
      width: 1.8rem;
      font-size: 120%;
      justify-content: center;
      &:hover{
        border: 1px solid rgb(235, 230, 230);
        color: aliceblue;
      }
    }
  .icone-sun{
    color: rgb(249, 237, 74);
    &:hover{
      border: 1px solid rgb(212, 223, 19);
      color: rgb(237, 245, 2);
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    .link-logo,
    .nav-desktop {
      display: none;
    }
    .btn-menu {
      display: block;
    }
    .nav-mobil {
      display: block;
      position: fixed;
      inset: 0;
      z-index: 3;
      background-color: rgba(66, 59, 59, 0.843);

      .modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-top: 1rem;
        padding: 2rem;
        background-color: mixins-variables.$primary--nav--color;
        animation: slidein 0.9s 1;
        li:first-child {
          text-align: right;
          i{
            &:hover{
              transition: 0.3s;
            rotate: 180deg;
          }
          }
          
        }
        li:not(:first-child) {
          text-align: center;
          a {
            font-size: 1.5rem;
          }
          &:hover {
            transition: 0.3s;
            scale: 1.05;
          }
        }
      }
    }
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}

