@use "../../styles/mixins-variables";

/*======================== 
table of contents
==========================
1-section-contact
2-form
3-contact
4-responsive 998px
5-responsive 767px
=========================*/

/*======================== 
1-section-contact
=========================*/
.section-contact{
    width: 95%;
    margin-top: 3rem;
    color: lighten(mixins-variables.$primary--title--color, 30%);
    font-size: 0.7rem;
    text-align: center;
    /*======================== 
2-form
=========================*/
    .form{
        flex-direction: column;
        justify-content: center;
        width: 75%;
        .form-contact{
            flex-direction: column;
            justify-content: center;
            margin: 2rem 0;
            gap: 1.2rem;
            width: 100%;
            input{
                width: 80%;
                height: 2.5rem;
                background-color:mixins-variables.$primary--header--color;
                border-radius: 5px;
                border: 1px solid lighten(mixins-variables.$border--body--color,20%);
                
            }
            textarea{
                width: 80%;
                height: 200px;
                background-color:mixins-variables.$primary--header--color;
                
            }
            .container-send{
                .btn-contact{
                    background-color: lighten(mixins-variables.$primary--btn--filter--color,5%);
                padding: 0.5rem 1.4rem;
                border-radius: 15px;
                font-weight: 600;
                &:hover{
                    scale: 0.9;
                }
                }
                
            }
            .info-form{
                color:lighten(mixins-variables.$border--body--color,20%);
            }
           
        }

    
    }
/*======================== 
3-contact
=========================*/
    .contact{
        flex-direction: column;
        align-items: start;
        gap: 1.2rem;
        a{ 
            font-size: 1rem;
            color:lighten(mixins-variables.$border--body--color,30%);
            i{
            font-size: 1.6rem;
            padding-right: 1.2rem;
            color: lighten(mixins-variables.$primary--btn--filter--color,5%);
            &:hover{
                transition: 0.3s;
                scale: 0.9;
            }
        }
        }
        
    }
}

/*======================== 
4-responsive 767px
=========================*/
@media screen and (max-width: 998px) {
    .section-contact{
        width: 98%;
        .form{
            
            width: 70%;
        }
        .contact{
            gap: 0.8rem;
            a{ 
                font-size: 1rem;
                i{
                font-size: 1.2rem;
                padding-right: 1rem;
                
            }
            }
            
        }
        
  }
}

/*======================== 
5-responsive 998px
=========================*/
@media screen and (max-width: 767px) {
    .section-contact{
        flex-direction: column;
        .form{
            
            width: 90%;
        }

        .contact{
            a{ 
                font-size: 0.8rem;
                color:lighten(mixins-variables.$border--body--color,30%);
                
            }
            
        }
    }
}
